.gallery-thumbnail-item {
  border-radius: 0.6rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  opacity: 0.5;
  cursor: pointer;
}

.selected-gallery-thumbnail {
  opacity: 1;
}

.gallery-thumbnail-button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: inherit;
  cursor: pointer;
}

.gallery-thumbnail-img {
  height: 4rem;
  width: 4rem;
}
